@using Portal.Shared.DTO.User
<Card ShowHeaderWithTabs="true" HeaderTitle="Assigned Jobs" Shadow="false">
    <ChildContent>
        <div class="user-jobs-container">
            @foreach (var job in _jobList.UserJobs)
            {
                <div class="border-grey border-rad light grey-background d-flex flex-row gap-1 p-2 justify-content-between">
                    <div>
                        <a href=@($"jobs/{job.JobId}") class="prs-link"><strong>@job.JobDetails.JobNumber</strong></a>
                        <div>@job.JobDetails.AddressAsString</div>
                    </div>
                    @if (job.JobDetails.JobTypeStatus is not null)
                    {
                        <span style="background-color: @job.JobDetails.JobTypeStatus.Colour" class="job-status-badge">@job.JobDetails.JobTypeStatus.Name</span>
                    }
                </div>
            }
        </div>
    </ChildContent>
</Card>

<style>
    .user-jobs-container {
        display: grid;
        grid: repeat(3, 1fr);
        gap: 0.5rem;
    }

    .job-status-badge{
        height: 28px;
        border-radius: 14px;
        color: var(--color-white);
        font-weight: 600;
        font-size: 12px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 8px;
    }
</style>


