@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        local("Inter Regular"),
        url("../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src:
        local("Inter Italic"),
        url("../fonts/Inter-Italic.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
        local("Inter Medium"),
        url("../fonts/Inter-Medium.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src:
        local("Inter Medium Italic"),
        url("../fonts/Inter-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
        local("Inter Semi Bold"),
        url("../fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src:
        local("Inter Semi Bold Italic"),
        url("../fonts/Inter-SemiBoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        local("Inter Bold"),
        url("../fonts/Inter-Bold.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src:
        local("Inter Bold Italic"),
        url("../fonts/Inter-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Satoshi";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src:
        local("Satoshi Regular"),
        url("../fonts/Satoshi-Regular.woff2") format("woff2");
}

:root {
    --color-primary: #ff5020;
    --color-primary-light: #ff957d;
    --color-secondary: #f2ecee;
    --color-background: #f5f5ff;
    --color-success: #63a46c;
    --color-grey-dark: #808080;
    --color-grey: #f5f3f5;
    --color-white: #ffffff;
    --color-yellow: #a16207;
    --border-rad: 15px;
    --padding: 10px;
}

html,
body {
    background-color: var(--color-background) !important;
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    font-size: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
.btn-link {
    color: #1c1b1d;
    text-decoration: none;
    font-size: 20px;
}

ul {
    padding-left: 0 !important;
}

ul > li {
    list-style: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type="checkbox"]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.bg-white {
    background: white;
    padding: 12px 12px;
    border-radius: var(--border-rad);
    transition: all ease-in-out 0.2s;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    font-weight: 600;
}

.bg-white:hover {
    background-color: var(--color-background);
    color: var(--color-secondary);
    transition: all ease-in-out 0.2s;
    transform: translateY(-3px);
}

.mud-table {
    box-shadow: none !important;
}

.container {
    background: var(--color-white);
    padding: 15px;
    border-radius: var(--border-rad);
}

.shadow {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px !important;
}

.border-rad {
    border-radius: var(--border-rad) !important;
}
a{
    text-decoration: none !important;
}
.nav-item a {
    padding: 10px 15px;
    line-height: 3rem;
    transition: all ease-in-out 0.1s;
    font-size: 1rem;
    height: 3rem;
    color: black;
    border-radius: var(--border-rad);
    text-decoration: none;
}

    .nav-item a.active {
        color: var(--color-white) !important;
        background-color: var(--color-primary-light);
        border-radius: var(--border-rad);
        /*font-weight: bold;*/
    }

.nav-item a:hover {
    color: var(--color-grey-dark) !important;
    transition: all ease-in-out 0.1s;
    transform: translateY(-3px);
}

ul > li > a {
    font-size: 0.8rem;
}
.mud-table {
    box-shadow: none !important;
}

.mud-button-filled.mud-button-filled-primary {
    border-radius: var(--border-rad);
    box-shadow: none;
    background-color: var(--color-primary) !important;
}

.mud-button-filled.mud-button-filled-success {
    border-radius: var(--border-rad);
    box-shadow: none;
    background-color: var(--color-success) !important;
}

.mud-button-filled.mud-button-filled-secondary {
    border-radius: var(--border-rad);
    box-shadow: none;
}

.mud-button-filled.mud-button-filled-default {
    border-radius: var(--border-rad);
    box-shadow: none;
}

.mud-button-filled.mud-button-filled-info {
    border-radius: var(--border-rad);
    box-shadow: none;
}

.mud-secondary-text {
    color: var(--color-secondary) !important;
}

.mud-tab.mud-tab-active {
    color: var(--color-secondary) !important;
}

    .mud-tab .mud-tab-active .mud-ripple .mud-tab-panel > * {
        color: var(--color-secondary) !important;
    }

.mud-tab-slider {
    background: black !important;
}

.mud-input-outlined-border {
    border-radius: var(--border-rad) !important;
}

.mud-table-cell.sticky-left {
    z-index: auto !important;
}

.mud-input {
    background: white !important;
    border-radius: var(--border-rad) !important;
}
