@page "/quotes/create"
@inherits BaseDataComponent

<div class="container">
    <PageHeader>
        <Content>
            <h1>New Quote</h1>
        </Content>
    </PageHeader>

</div>


@code {

}
