@inherits BaseDataComponent

@page "/quotes"

<PageTitle>Quotes - PRS Portal</PageTitle>
<div class="container">
    <PageHeader>
        <Content>
            <div>
                <h2>Quotes</h2>
            </div>
            <MudTextField T="string" Placeholder="Search" Adornment="Adornment.Start" Variant="Variant.Outlined"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Large" Class="" Clearable="true">
            </MudTextField>
        </Content>
    </PageHeader>

    <Card>
        <TitleContent>
            <HeaderTabs Href="/quotes/create" />
        </TitleContent>
        <ChildContent>

        </ChildContent>
    </Card>
</div>
@code {

}
