@using System.Text.Json
@using Portal.Shared.DTO.Setting
@using Toolbelt.Blazor.HotKeys2
@inherits LayoutComponentBase
@inject HotKeys _hotKeys

<div class="page">
    <SideNav NavToggled="@ToggleNav" NavLinks="navLinks" Minimize="_collapsed" />
    <MobileNav NavLinks="navLinks" />

    <div class="@MainClass">
        <div class="main-breadcrumbs">
            <MudBreadcrumbs Items="_breadCrumbService.GetBreadCrumbItems()" Separator=">"  Class="bread-crumbs"/>
        </div>
        @Body
    </div>
@*     <footer>
        Built by <a href="https://webres.solutions" target="_blank" style="color: #b2424d;">Webres Solutions</a>
    </footer> *@
</div>

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider MaxWidth="MaxWidth.Large"/>
<MudSnackbarProvider />


