<MudDialog>
    <DialogContent>
        <div>
            <section class="search-container">
                <h5>Job Search</h5>
                <div>
                    <MudTextField T="string" Label="Contact" Variant="Variant.Outlined" FullWidth="true" AutoFocus="true"/>
                    <MudTextField T="string" Label="Address" Variant="Variant.Outlined" FullWidth="true" />
                    <MudTextField T="string" Label="Suburb" Variant="Variant.Outlined" FullWidth="true" />
                    <MudTextField T="string" Label="Construction #" Variant="Variant.Outlined" FullWidth="true" />
                    <MudTextField T="string" Label="Survey #" Variant="Variant.Outlined" FullWidth="true" />
                    <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Submit">Search</MudButton>
                </div>
            </section>
            <section class="search-container">
                <h5>Contact Search</h5>
                <div>
                    <MudTextField T="string" Label="Name" Variant="Variant.Outlined" FullWidth="true" />
                    <MudTextField T="string" Label="Email" Variant="Variant.Outlined" FullWidth="true" />
                    <MudTextField T="string" Label="Phone" Variant="Variant.Outlined" FullWidth="true" />
                    <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Submit">Search</MudButton>
                </div>
            </section>
            <section class="search-container">
                <h5>Task Search</h5>
                <div>
                    <MudTextField T="string" Label="Checklist" Variant="Variant.Outlined" FullWidth="true" />
                    <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Submit">Search</MudButton>
                </div>
            </section>
        </div>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance? MudDialog { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }
    }

    private void Submit() => MudDialog?.Close(DialogResult.Ok(true));
    private void Cancel() => MudDialog?.Cancel();
}
<style>
    .search-container {
        margin-bottom: 1rem;
    }

        .search-container > div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            background: var(--color-background);
            border-radius: var(--border-rad);
            padding: 1rem;
        }
</style>