@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using Portal.Client.Components.Contact
@using Portal.Client.Components.JobComponents
@using Portal.Client.Components.TimeSheet
@using Portal.Client.Webmodels
@using Portal.Shared
@using Portal.Shared.DTO.Contact
@using Portal.Shared.DTO.File
@using Portal.Shared.DTO.Job
@using Portal.Shared.DTO.Address
@using Portal.Shared.Helpers

<Card ShowHeaderWithAddButton="true" HeaderTitle="@($"Job Files ({Files.Count()})")" OnAddButtonClick="CreateNewFile">
    <ChildContent>
        <div class="job-file-container">
            @foreach (FileDto file in Files)
            {
                <div class="job-file" @onclick="@(async () => await EditFile(file))">
                    <strong>@file.FileName..</strong>
                    <small>Created By: @file.CreatedBy</small>
                </div>
            }
        </div>
        @if (Files.Count() == 0)
        {
            <div class="empty-state">No Files</div>
        }
    </ChildContent>
</Card>

@code {
    /// <summary>
    /// Required. The job id that these files belong to (for adding new files).
    /// </summary>
    [Parameter]
    public required int JobId { get; set; }

    /// <summary>
    /// Required. The files being viewed.
    /// </summary>
    [Parameter]
    public required IEnumerable<FileDto> Files { get; set; }

    /// <summary>
    /// Callback for when a file is created or edited.
    /// </summary>
    [Parameter]
    public EventCallback OnFilesEdited { get; set; }

    /// <summary>
    /// The card reference
    /// </summary>
    private Card? _cardRef;

    public async Task CreateNewFile()
    {
        DialogParameters parameter = new DialogParameters<NewFileDialog> { { "JobId", JobId } };
        DialogOptions options = new() { CloseButton = false, CloseOnEscapeKey = true, MaxWidth = MaxWidth.Large };
        IDialogReference dialogRef = await _dialog.ShowAsync<NewFileDialog>("", parameter, options);
        DialogResult? result = await dialogRef.Result;

        if (result is { Canceled: false })
        {
            _cardRef?.SetSelectedTab(TabTypeEnum.All);
            await OnFilesEdited.InvokeAsync();
        }
    }

    public async Task EditFile(FileDto file)
    {
        DialogParameters parameter = new DialogParameters<EditFileDialog> { { "File", file } };
        DialogOptions options = new() { CloseButton = false, CloseOnEscapeKey = true, MaxWidth = MaxWidth.Large };
        IDialogReference dialogRef = await _dialog.ShowAsync<EditFileDialog>("", parameter, options);
        DialogResult? result = await dialogRef.Result;

        if (result is { Canceled: false})
        {
            _cardRef?.SetSelectedTab(TabTypeEnum.All);
            await OnFilesEdited.InvokeAsync();
        }

    }
}

<style>
    .job-file-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
        grid-auto-rows: 1fr;
    }

    .job-file {
        background-color: #f1f5f9;
        width: 100%;
        height: 80px;
        border-radius: var(--border-rad);
        padding: 10px;
        transition: ease-in-out 0.2s;
        display: flex;
        flex-direction: column;
        border: 2px solid var(--color-primary);
        overflow-wrap: break-word;
        word-break: break-word;
    }

        .job-file:hover {
            background-color: #e2e8f0;
            cursor: pointer;
            transition: ease-in-out 0.2s;
        }

    .empty-state {
        text-align: center;
        color: #94a3b8;
        padding: 0rem 2rem;
        font-size: 0.85rem;
        width: 100%;
    }

</style>