
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accept Fee Proposal</title>
</head>
<body>
    <p>Imagine this is a header</p>
    <img src="logo_data" style="height: 100px" alt="PRS Logo" />

    @RenderBody()

    <p>Imagine this is a footer</p>
</body>
</html>