@page "/jobs/create"
<PageTitle>Create Job - PRS Portal</PageTitle>

<div class="container">
    <PageHeader>
        <Content>
            <div class="" style="min-width: 150px">
                <h2>Create New Job</h2>
            </div>
        </Content>
    </PageHeader>
    <Card>

    </Card>
</div>

@code{

}