@page "/jobs/edit/{JobId:int}"
<PageTitle>Edit Job - PRS Portal</PageTitle>

<div class="container">
    <PageHeader>
        <Content>
            <div class="" style="min-width: 150px">
                <h2>Edit Job</h2>
            </div>
            <ButtonIcon Href=@($"/jobs/view/{JobId}") Icon="bi bi-sign-turn-left" />
        </Content>
    </PageHeader>
    <Card>

    </Card>
</div>

@code {
    [Parameter]
    public int JobId { get; set; }

}