@page "/councils"

<PageTitle>Councils - PRS Portal</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">
                Councils
            </h1>
            
   
        </div>
    </div>
</div>

@code {
    // Add your council management logic here
}
