@inherits BaseDataComponent

@page "/councils"
<PageTitle>Councils - PRS Portal</PageTitle>
<div class="container">
    <div class="mb-2 d-flex">
        <h1>Councils</h1>
    </div>

    <Card>

        <ChildContent>

        </ChildContent>
    </Card>
</div>
@code {
    // Add your council management logic here
}
