@inherits BaseDataComponent
@page "/"

<AuthorizeView Context="c">
    <Authorized>
        <div class="dashboard-container">

            <img alt="PRS" src="/images/PRS-Primary-Logo.svg"
                 style="width:300px" class="prs-logo ms-2 mb-4" />
            <CustomizableGrid GridRowsColumns="(2, 2)" Components="Components" />
        </div>

    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

