@inherits BaseDataComponent
@page "/"

<AuthorizeView Context="c">
    <Authorized>
        <div class="container">
            <div class="header-section">
                <h2>@c?.User?.Identity?.Name</h2>
                <p class="welcome-text">Welcome back! Here's what's happening today.</p>
            </div>
            <CustomizableGrid GridRowsColumns="(10, 10)" />
        </div>

    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

