@page "/"

<AuthorizeView>
	<Authorized>
		<Card Title="Index">
			<ChildContent>
				<div class="">
					<a>Hello, @context.User!.Identity!.Name!</a>
				</div>
				<User />
			</ChildContent>
		</Card>
	</Authorized>
	<NotAuthorized>
		<RedirectToLogin/>
	</NotAuthorized>
</AuthorizeView>
