@page "/invoices"

<PageTitle>Invoices - PRS Portal</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
         
        </div>
    </div>
</div>

@code {
    // Add your invoice management logic here
}
