@page "/notes"

<PageTitle>Notes - PRS Portal</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
           
        </div>
    </div>
</div>

@code {
    // Add your notes management logic here
}
