@inherits BaseDataComponent

@page "/quotes"

<PageTitle>Quotes - PRS Portal</PageTitle>
<div class="container">
    <div class="mb-2 d-flex">
        <h1>Quotes</h1>
    </div>

    <Card>

        <ChildContent>

        </ChildContent>
    </Card>
</div>
@code {

}
