@page "/schedule"

<PageTitle>Schedule - PRS Portal</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
           
        </div>
    </div>
</div>

@code {
    // Add your scheduling logic here
}
