@page "/settings";
@using Portal.Shared
@using Portal.Shared.DTO.Schedule
@using Portal.Shared.ResponseModels
@inherits BaseDataComponent;

@code {
    private List<ScheduleColourDto> _colours = new();
    private bool showColourPicker = true;

    /// <summary>
    /// Called when the component is initialized.
    /// Data loading for the grid is now handled by LoadFacilitiesServerData.
    /// </summary>
    /// <returns>A task representing the asynchronous operation</returns>
    protected override async Task OnInitializedAsync()
    {
        base.IsLoading = true;
        await base.OnInitializedAsync();
        await LoadColours();
        base.IsLoading = false;
    }

    private async Task LoadColours()
    {
        base.IsLoading = true;
        Result<List<ScheduleColourDto>> res = await _apiService.GetScheduleColours();
        if (res.Error is null && res.Value is not null)
        {
            _colours = res.Value;
        }
        else
        {
            _snackbar.Add(res.ErrorDescription ?? "Error occured while loading the colours", Severity.Error);
        }
        base.IsLoading = false;
    }

    private async Task SaveColour(ScheduleColourDto colour, string colourString)
    {
        colour.ColourHex = colourString;
        Result<ScheduleColourDto> res = await _apiService.UpdateScheduleColour(colour);
        if (res.Error is null)
        {
            _snackbar.Add("Colour updated successfully", Severity.Success);
            Result<List<ScheduleColourDto>> colours = await _apiService.GetScheduleColours();
            if (colours.Error is null && colours.Value is not null)
            {
                _colours.ElementAt(_colours.FindIndex(c => c.ScheduleColourId == colour.ScheduleColourId)).ColourHex = colourString;
            }
            else
            {
                _snackbar.Add(res.ErrorDescription ?? "Error occured while loading the colours", Severity.Error);
            }
        }
        else
        {
            _snackbar.Add(res.ErrorDescription ?? "Error occured while saving the colour", Severity.Error);
        }
    }
}

<PageTitle>Settings - PRS Portal</PageTitle>
<div class="container">
    <div class="mb-2 d-flex">
        <h1>Settings</h1>
    </div>

    @if (!base.IsLoading)
    {
        <Card>
            <ChildContent>
                <h3 @onclick="@(() => showColourPicker = !showColourPicker)">Schedule Colours Settings</h3>
                @if (showColourPicker)
                {
                    <section class="colour-container">
                        @foreach (ScheduleColourDto colour in _colours)
                        {
                            <div>
                                <div class="preview" style="background: @colour.ColourHex"></div>
                                <MudColorPicker ShowToolbar="true"
                                                Label="Dialog Picker"
                                                Variant="Variant.Outlined"
                                                ColorPickerView="ColorPickerView.GridCompact"
                                                ColorPickerMode="ColorPickerMode.HEX"
                                                Value=@colour.ColourHex 
                                                TextChanged="@((s) => SaveColour(colour, s))"/>
                            </div>
                        }
                    </section>
                }
            </ChildContent>
        </Card>
    }
    else
    {
        <MudProgressCircular />
    }
</div>

<style>
    .colour-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }

        .colour-container > div {
            background: var(--color-background);
            border-radius: var(--border-rad);
            padding: 1rem;
        }


    @@media (max-width: 1200px) {
        .colour-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .preview {
        padding: 8px 16px;
        border-radius: 25px;
        font-weight: 600;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 6px;
        width: 40px;
    }
</style>