@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
<nav class="w-100 d-flex justify-content-between py-2" style="background-color: var(--color-white)">
@* 	<NavLink href="/">
		<img alt="PRS" src=@("/images/PRS-Primary-Logo.svg") style=@("width:120px") class="prs-logo" />
	</NavLink> *@
	<div class="mt-4 d-flex flex-row pe-4">
		<div class="auth-controls">
			<AuthorizeView>
				<NotAuthorized>
					<div class="d-flex flex-row gap-2">
						<a href="authentication/login" class="btn">Log in</a>
					</div>
				</NotAuthorized>
				<Authorized>
					@* <ul class="nav flex-row gap-1">
						@foreach (KeyValuePair<string, NavigationLink> link in links)
						{
							<NavElement Link=@link.Value />
						}
					</ul> *@
					<i class="bi bi-person-vcard btn" href="authentication/profile"></i>
					<i class="bi bi-box-arrow-left btn" @onclick="BeginSignOut" />
				</Authorized>
			</AuthorizeView>
		</div>
	</div>
	<div/>
</nav>



@code {
	[Parameter]
	public bool ShowNav { get; set; }

	[Parameter]
	public required Action ToggleNav { get; set; }

	public string SearchValue { get; set; } = "";

	private readonly Dictionary<string, NavigationLink> links = new()
	{
		{ "Dashboard", new NavigationLink(){Link = "dashboard", Title = "Dashboard", Icon = "bi bi-speedometer2"} },
		{ "Home", new NavigationLink(){Link = "", Title = "Home", Icon = "bi bi-house"} },
		{ "Jobs", new NavigationLink(){Link = "jobs", Title = "Jobs", Icon = "bi bi-wrench" }},
		{ "Quotes", new NavigationLink(){Link = "quotes", Title = "Quotes", Icon = "bi bi-receipt" } },
		{ "Councils", new NavigationLink(){Link = "councils", Title = "Councils",Icon = "bi bi-people-fill"} },
		{ "Tools", new NavigationLink(){Link = "tools", Title = "Tools",Icon = "bi bi-hammer"} },
		{ "Admin", new NavigationLink(){Link = "admin", Title = "Admin",Icon = "bi bi-sliders"} },
		{ "Schedule", new NavigationLink(){Link = "schedule", Title = "Schedule", Icon = "bi bi-calendar"} }
	};

	private void BeginSignOut(MouseEventArgs args)
	{
		Navigation.NavigateToLogout("authentication/logout");
	}
}
