@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims
@inject NavigationManager Navigation
@attribute [Authorize];


<nav class="w-100 d-flex justify-content-between py-2" style="background-color: var(--color-white)">
	<div class="">
		<div class="auth-controls">
			<AuthorizeView>
				<NotAuthorized>
					<div class="d-flex flex-row gap-2">
						<a href="authentication/login" class="btn">Log in</a>
					</div> 
				</NotAuthorized>
				<Authorized>
					<h1>@AuthenticatedUser?.Identity?.Name</h1>
				</Authorized>
			</AuthorizeView>
		</div>
	</div>
	<div/>
</nav>



@code {
	/// <summary>
	/// Gets or sets the authenticated user's claims principal
	/// </summary>
	public ClaimsPrincipal? AuthenticatedUser { get; set; }

	[Parameter]
	public bool ShowNav { get; set; }

	[Parameter]
	public required EventCallback<Task> ToggleNav { get; set; }

	public string SearchValue { get; set; } = "";

	private void BeginSignOut(MouseEventArgs args)
	{
		Navigation.NavigateToLogout("authentication/logout");
	}
}
